body {
    width: 100%;
    background-color: hsl(197, 37%, 21%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    width: 400px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    display: grid ;
}
.btns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}

input {
    width: 100%;
    background-color: hsl(188, 54%, 47%);
    border: none;
    height: 90px;
    color: white;
    font-size: 50px;
    font-weight: 600;
}
button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsl(180, 87%, 35%);
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 600;
    cursor:pointer;
}
button:hover {
    background-color: hsl(206, 41%, 48%);
}
button:active {
    background-color: hsl(209, 86%, 50%);
}
.btn{
    background-color: hsl(206, 80%, 19%);
}
button:active {
    background-color: hsl(209, 86%, 35%);
}

.btn:hover {
    background-color: rgb(153, 201, 218);
    cursor: pointer
}
h1 {
    background-color: turquoise;
    border: 10px solid yellow;
    border-radius: 20px;
    border-style: dashed;
}
p {
    color: white;
    background-color: maroon;
}
